.container{
    .content{
        .main{
            p{
                background-color: aqua;
            }
            a{
                color: blue;

            }
            img{
                width:100px;
                height: 200px;
            }
        }
    }
}